.DS_Store
__pycache__/

*.sas7bdat
/rawdata_L2HF2101_L2/
/data_202101/
/rawdata_L2HF2111_L2/
/data_202111/
/rawdata_L2HF2112_L2/
/data_202112/
datasets*/
best_model_ret5.pth
/data2_202111/
/data2_try/
/model_res_for_backtest/